body {
  background-image: url("/img/humb.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #fafafa75;
  border-radius: 0.3rem
}
.jumbotron > h1 {
  font-family: 'Creepster', cursive;
  color: #931e29
}
.burger-list {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.edit {
  width: 100%;
}
.form-control {
  width: 20%;
  display: inline-block
}
